NODE_ENV=your_environment
PORT=your_port
MONGO_URI=your_mongo_uri
AI_PROVIDER=your_ai_provider_eg_gemini
AI_PROVIDER_API_KEY=your_key

GMAIL_CLIENT_ID=your_client_id
GMAIL_CLIENT_SECRET=your_client_secret
GMAIL_REDIRECT_URI=https://developers.google.com/oauthplayground
GMAIL_REFRESH_TOKEN=your_refresh_token
GMAIL_SENDER=your_gmail
